<footer class="footer footer-body bg-greenlight px-2 py-5">
    <div class="container">
        <p class="text-center">ANIMWOOF @ 2021</p>
        <p class="text-center text-uppercase">Martin Jordan - Phouangsy Sophie - Akif Nassim - Bamba Salim</p>
    </div>
</footer>
