{% extends 'base.html.twig' %}

{% block title %}Back-office{% endblock %}

{% block body %}
    <div class="card border-0 rounded-0 my-3 py-3 px-4 bg-greenlight">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
        </nav>
    </div>
    <div class="card my-3 p-5 text-center rounded-0">
        <h1>Tableau de bord</h1>
    </div>
    <div class="row row-cols-2  ">
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100 p-0 align-middle bg-greenlight">
                <a class="block p-5 my-auto text-center" href="{{ path('admin_animals') }}">Gestion des adoptions</a>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100 p-0 align-middle bg-greenlight">
                <a class="block p-5 my-auto text-center" href="{{ path('admin_shop') }}">Gestion de la boutique</a>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100 p-0 align-middle bg-greenlight">
                <a class="block p-5 my-auto text-center" href="{{ path('admin_blog') }}">Gestion du blog</a>
            </div>
        </div>
        <div class="col my-3">
            <div class="card border-0 rounded-0 h-100 p-0 align-middle bg-greenlight">
                <a class="block p-5 my-auto text-center" href="{{ path('admin_donation') }}">Historique des
                    dons</a>
            </div>
        </div>
    </div>


{% endblock %}
