{% extends 'base.html.twig' %}

{% block title %}Hello DonController!{% endblock %}

{% block body %}

    <div>
        <dvi>Total des dons</dvi>
        {% if app.user %}
            <dvi>Somme totale des dons</dvi>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <dvi>Liens vers lists des dons</dvi>
        {% endif %}
    </div>

    <h1>Faites un don</h1>

    {% if app.user %}
        <h3>Formualaire</h3>
        {# form de don #}
    {% else %}
        <h3>Connectez vous ou inscrivez vous pour faire un don</h3>
        <a href="{{ path('login') }}">Log in</a>
        <a href="{{ path('signup') }}">Sign up</a>
    {% endif %}
    {{ lastDon.user.pseudo }}

{% endblock %}
