{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Adopter ces animaux</h1>

    <h1>Procurez-vous ces articles</h1>

    <h1>Faites un don</h1>
{% endblock %}
