{% extends 'base.html.twig' %}

{% block title %}Adoptez un animal ! {% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>Oops ! Une erreur est survenue</h2>

            <p>
                Dirigez-vous vers <a href="{{ path('homepage') }}">la page d'accueil</a>
            </p>
        </div>
    </div>
{% endblock %}